<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NFS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h3>Guatemala's Most Wanted</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <ion-img src="../../assets/home.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h3>A continuación seleccione una opción</h3>
          <p><ion-button color="dark" expand="block" (click)="goToGame()">Iniciar Juego</ion-button></p>
          <p><ion-button color="dark" expand="block" (click)="goToStats()">Ver Estadísticas</ion-button></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
